section#aboutFacts
    .container
        .facts-wrap.d-flex.flex-wrap
            .card.fact-card.m-auto
                .title
                    span 15
                    | Заголовок в две строчки
                .content
                    p Не следует, однако, забывать, что сплоченность команды, профессионалов влечет за собой процесс необратимости
            .card.fact-card.m-auto
                .title
                    span 119
                    | Заголовок в две строчки
                .content
                    p Не следует, однако, забывать, что сплоченность команды, профессионалов влечет за собой процесс необратимости
            .card.fact-card.m-auto
                .title
                    span 8
                    | Наград
                .content
                    p Не следует, однако, забывать, что сплоченность команды, профессионалов влечет за собой процесс необратимости