section#advantages
    .container
        .row.m-0
            .col-12.col-lg-6.p-0
                .adv-img
                    img(src="img/фото.jpg")
            .col-12.col-lg-6.p-0
                .advantages-wrap.ml-0.ml-lg-5
                    .icon
                        include ../../img/waves-icon.svg
                    .title.text-left
                        h2 МДС-Строй это:
                    .advantages
                        .advantage
                            .advant-icon
                                include ../../img/helmet.svg
                            .advant-text
                                p Профессионалы
                        .advantage
                            .advant-icon
                                include ../../img/stopwatch.svg
                            .advant-text
                                p Профессионалы
                        .advantage
                            .advant-icon
                                include ../../img/star (1).svg
                            .advant-text
                                p Профессионалы
                        .advantage
                            .advant-icon
                                include ../../img/diamond (1).svg
                            .advant-text
                                p Профессионалы