section#carousel
    .slider.carousel
        - let n = 1
        while n < 5
            .item(style="background-image: url('img/bg.jpg')" id = 'slickItem' + n)
                .slide-content.d-flex.flex-wrap.justify-content-between.align-items-center.text-justify.m-auto
                    .slide-text.d-flex.flex-wrap.flex-xl-nowrap.flex-row.align-items-start
                        .slide-icon.mt-5.w-100
                            include ../../img/waves-icon.svg
                        .slide-c
                            .title.mb-5.mt-3.text-justify
                                h2="Повседневная пркатика " + n
                            .content.mb-5
                                h4 Показывает, что существующая теория является качественно новой ступенью современного выполнения задачи. Также как постоянный количественный рост и сфера нашей активности предопределяет высокую потребность
            - n++
    .container.arrows.d-none.d-lg-block
        .slick-arrows#slickArrowsCarousel
            button.slick-arrow.prev
                i.fas.fa-chevron-left
            button.slick-arrow.next
                i.fas.fa-chevron-right
    .container
        .row
            .col-md-6.offset-md-6.col-lg-4.offset-lg-7.align-self-end
                .form-order-wrapper
                    .form-complete
                        h2.text-white Успешно отправлено
                    .form-order.text-center.m-auto
                        .title.mt-0.mb-3.text-center
                            h4 Оставьте заявку
                        p И получите файл с 5 этапами согласования нового объекта
                        form#callbackForm
                            .form-group.m-4
                                input.form-control(type="text" name="name" placeholder="Ваше имя")
                                .small.text-danger#callbackNameHelp
                            .form-group.m-4
                                input.form-control(type="phone" name="phone" placeholder="Номер телефона")
                                .small.text-danger#callbackPhoneHelp
                            .form-group.m-4
                                input.form-control(type="email" name="email" placeholder="Email")
                                .small.text-danger#callbackEmailHelp
                            .form-group.m-4
                                .g-recaptcha(data-sitekey="6Ldic78UAAAAAL_bVb4uT9Nmwv9PD8vsC55L1sRS")
                            .form-group.m-4
                                p.small.text-justify Нажимая на кнопку, вы даете свое согласие на обработку персональных данных. <a href="">Узнать больше</a>
                            button.btn.mds-btn.mx-4(type="submit" name="btnSubmit")#callbackSubmit Отправить

    #social
        .bread-wrapper.d-none.d-md-flex.justify-content-between.align-items-center
            .instagram
                a(href="#") instagram
            .twitter
                a(href="#") twitter
            .whatsapp
                a(href="#") whatsapp