- let menuItems = {"about":"О компании", "services": "Услуги", "projects":"Готовые проекты", "three":"Реквизиты", "four": "Вопрос-ответ", "five": "Партнеры"}
footer.p-5
    .container
        .row.d-flex.flex-row.align-items-lg-stretch
            .col-2
                .policy-wrap
                    .copy &copy; 2019 мдс-строй
                    .conf.mb-2
                        a(href="#") Политика конфиденциальности
            .col-4
                .footer-menu.ml-5
                    ul.d-flex.flex-wrap.flex-column
                        each item, idx in menuItems
                            li
                                a(href="#")=item

            .col-4.d-flex.justify-content-around
                .contacts
                    .phone
                        a(href="tel:+78008008080") +7(800)800-80-80
                    .email
                        a(href="mailto:login@gmail.com") login@gmail.com
                    .callback
                        .callback-icon.m-0.d-flex
                            i.fas.fa-phone
                .social
                    .twitter
                        a(href="#") twitter
                    .whatsapp
                        a(href="#") whatsapp
                    .instagram
                        a(href="#") instagram
            .col-2
                .last-wrap.text-right
                    .write-us
                        button.btn.mds-btn.transparent Напишите нам
                    a(href="#") Разработано в Electron