include ./mixins
- let menuItems = {"about":"О компании", "services": "Услуги", "projects":"Готовые проекты", "three":"Реквизиты", "four": "Вопрос-ответ", "five": "Партнеры"}
- let darkPages = ["index", "tender"]
- let menu_class = ""
if((page !== "index") && (page !== "tender"))
    - menu_class = "black"
section#mainmenu(data-aos="fade-down" data-aos-delay="5000" class=(menu_class))
    .fullmenu-wrapper
        .fullmenu
            .container
                .row.m-0
                    .col-12.ul-wrapper
                        ul.d-flex.flex-column.flex-wrap
                            each item, idx in menuItems
                                li
                                    a(href="#")=item
                        .right-wrapper.d-flex
                            .social.d-none.d-md-flex.flex-column.justify-content-around
                                .instagram
                                    a(href="#") instagram
                                .twitter
                                    a(href="#") twitter
                                .whatsapp
                                    a(href="#") whatsapp
                                button.btn.mds-btn.transparent Написать нам
                    .col-12.d-block.d-lg-none
                        .fullmenu-bottom.d-flex.flex-column.align-items-center
                            .phone
                                a(href="tel:+78008008080") +7(800)800-80-80
                            .email
                                a(href="mailto:login@gmail.com") login@gmail.com
                            .last-wrap.text-center.text-lg-right
                                .write-us.my-5.mb-lg-0
                                    button.btn.mds-btn.transparent Напишите нам
                    .col-12
                        .wave-icon
                            include ../../img/waves-icon.svg

    .container-fluid
        .row.menu-wrapper.d-flex.justify-content-between.mx-0.mx-md-5
            .col-1.col-md-5.p-0
                .menu-left.justify-content-between.d-flex.mt-3
                    .menu-btn.mr-5.mt-1
                        .animated-icon1
                            span
                            span
                            span
                    ul.d-none.d-md-flex.flex-column.flex-xl-row.text-nowrap.justify-content-around.w-100.menu-short
                        - let ii = 0
                        each item, idx in menuItems
                            if(ii>= 3)
                                - return
                            li
                                a(href="#")=item
                            - ii++

            .col-5.col-md-2
                .logo
                    a(href="/").d-flex.flex-column
                        img(src="img/logo.png")
                        h5 МДС-СТРОЙ
            .col-1.col-md-5
                .menu-right.text-right.justify-content-around.align-items-end.align-items-xl-start.mt-3.d-none.d-md-flex.flex-column.flex-xl-row
                    .contacts.d-flex.flex-column.text-nowrap
                        .phone
                            a(href="tel:+78008008080") +7 (800) 800-80-80
                        .email
                            a(href="mailto:login@gmail.com") login@gmail.com
                    .callback.ml-5.d-flex.align-items-center
                        a(href="#") Обратный звонок
                        .callback-icon.d-none.d-md-flex.text-white
                            i.fas.fa-phone.d-flex
                    .callback-icon.d-block.d-md-none
                        i.fas.fa-phone
if(page !== "index")
    .space
