section#map
    .container-fluid
        .row
            .offset-0.offset-lg-2
            .col-12.col-lg-4.p-0.order-2.order-lg-1
                .form-order-wrapper.pr-0.pr-lg-3
                    .form-scene
                        .form-complete
                            h2.text-white Успешно отправлено
                        .form-order.text-center.m-auto
                            .title.mt-0.mb-3.text-center
                                h4 Оставьте заявку
                            p И получите файл с 5 этапами согласования нового объекта
                            form#callbackForm
                                .form-group.m-4
                                    input.form-control(type="text" name="name" placeholder="Ваше имя")
                                    .small.text-danger#callbackNameHelp
                                .form-group.m-4
                                    input.form-control(type="phone" name="phone" placeholder="Номер телефона")
                                    .small.text-danger#callbackPhoneHelp
                                .form-group.m-4
                                    input.form-control(type="email" name="email" placeholder="Email")
                                    .small.text-danger#callbackEmailHelp
                                .form-group.m-4
                                    .g-recaptcha(data-sitekey="6Ldic78UAAAAAL_bVb4uT9Nmwv9PD8vsC55L1sRS")
                                .form-group.m-4
                                    p.small.text-justify Нажимая на кнопку, вы даете свое согласие на обработку персональных данных. <a href="">Узнать больше</a>
                                button.btn.mds-btn.mx-4(type="submit" name="btnSubmit")#callbackSubmit Отправить
            .col-12.col-lg-6.p-0.order-1.order-lg-2
                .ymap-container#ymapsContainer