section#map
    .container-fluid
        .row
            .offset-0.offset-lg-2
            .col-12.col-lg-4.p-0
                .form-order-wrapper.map-form-wrapper
                    .form-complete
                        h2.text-white Успешно отправлено
                    .form-order.text-justify.m-auto
                        .title.mt-0.mb-3.text-left
                            h4 Как не переплачивать за инженерные системы при строительстве
                        p Оставьте контакты и получите файл
                        form#callbackForm
                            .form-group.m-4
                                input.form-control(type="text" name="name" placeholder="Ваше имя")
                                .small.text-danger#callbackNameHelp
                            .form-group.m-4
                                input.form-control(type="phone" name="phone" placeholder="Номер телефона")
                                .small.text-danger#callbackPhoneHelp
                            .form-group.m-4
                                input.form-control(type="email" name="email" placeholder="Email")
                                .small.text-danger#callbackEmailHelp
                            .form-group.m-4
                                .g-recaptcha.d-flex.justify-content-center(data-sitekey="6Ldic78UAAAAAL_bVb4uT9Nmwv9PD8vsC55L1sRS")
                            .form-group.m-4
                                p.small.text-justify Нажимая на кнопку, вы даете свое согласие на обработку персональных данных. <a href="">Узнать больше</a>
                            button.btn.mds-btn.mx-4(type="submit" name="btnSubmit")#callbackSubmit Отправить
            .col-12.col-lg-6.p-0
                .ymap-container#ymapsContainer