.pagination
    .pagination-wrap.d-flex.flex-row
        .arrow.arrow-left
            a(href="#")
                i.fas.fa-arrow-left
        ul.pages.d-flex.flex-row
            li.active 1
            li
                a(href="#") 2
            li
                a(href="#") 3
            li
                a(href="#") 4
            li
                a(href="#") 5
        .arrow.arrow-left
            a(href="#")
                i.fas.fa-arrow-right