section#partners
    .container
        .title
            h2 Наши партнеры
        .partners-wrap
            .slick.slick-partners
                .item.partner
                    img(src="img/partners/Аспэк.png")
                .item.partner
                    img(src="img/partners/ассо-строй.png")
                .item.partner
                    img(src="img/partners/ГЖУ.jpg")
                .item.partner
                    img(src="img/partners/ГКБ УР №6.jpg")
                .item.partner
                    img(src="img/partners/Калинка групп.jpg")
                .item.partner
                    img(src="img/partners/Концерн Калашникова.jpg")
                .item.partner
                    img(src="img/partners/титан.jpg")
        .slick-arrows#slickArrowsPartners
            button.slick-arrow.prev
                i.fas.fa-chevron-left
            .slick-dots-wrap#slickDotsPartners
            button.slick-arrow.next
                i.fas.fa-chevron-right