section#projects
    .container
        .title
            h2 Готовые проекты
        .projects-wrap
            .slick.slick-projects
                .item.project
                    .card.project-card(style="background-image: url('img/1.jpg')")
                        .card-title
                            h4 Название проекта
                            .bottom
                                a(href="#") Подробнее
                .item.project
                    .card.project-card(style="background-image: url('img/2.jpg')")
                        .card-title
                            h4 Длинное название проекта в две строки, примерно так
                            .bottom
                                a(href="#") Подробнее
                .item.project
                    .card.project-card(style="background-image: url('img/3.jpg')")
                        .card-title
                            h4 Название проекта
                            .bottom
                                a(href="#") Подробнее