section#service-cards.pt-5
    .container
        .svc-cards
            .card.service-card.svc-card-blue
                .icon.mb-3
                    include ../../img/waves-icon.svg
                .text
                    p Произведем расчет водопотребления для получения тех. условий в Водоканале
                .price
                    .digits
                        span 4000
                        | <b>руб.</b>
                    .detail
                        a(href="#") Подробнее <i class="fas fa-arrow-right"></i>
            .card.service-card.svc-card-lblue
                .icon.mb-3
                    include ../../img/waves-icon.svg
                .text
                    p Произведем расчет водопотребления для получения тех. условий в Водоканале
                .price
                    .digits
                        span 4000
                        | <b>руб.</b>
                    .detail
                        a(href="#") Подробнее <i class="fas fa-arrow-right"></i>
            .card.service-card.svc-card-dblue
                .icon.mb-3
                    include ../../img/waves-icon.svg
                .text
                    p Произведем расчет водопотребления для получения тех. условий в Водоканале
                .price
                    .digits
                        span 4000
                        | <b>руб.</b>
                    .detail
                        a(href="#") Подробнее <i class="fas fa-arrow-right"></i>