-
    let services = [
    {"name": "Монтаж водопровода", "img": "img/Group-4.jpg", "type": "water"},
    {"name": "Монтаж канализации", "img": "img/Group-1.jpg", "type": "heat"},
    {"name": "Установка ПВНС и ИТП", "img": "img/Group-3.jpg", "type": "water"},
    {"name": "Монтаж систем отопления", "img": "img/Group-2.jpg", "type": "water"},
    {"name": "Промывка, опрессовка и подготовка к отопительному сезону", "img": "img/Group-5.jpg", "type": "heat"},
    {"name": "Монтаж котельных", "img": "img/Group.jpg", "type": "water"}
    ]
section#services.bg-white
    .container
        .title.text-center
            h2 Услуги
        .services-wrapper.d-flex.flex-wrap
            each service in services
                .service-card.card
                    .card-img
                        img.img-fluid.img-hover(src=service.img)
                    .card-body.d-flex
                        i.icon-type.mr-3
                            if (service.type === 'water')
                                <svg width="25" height="21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.047 13.041v-2.58c-1.17 0-1.686-.443-2.4-1.056-.79-.68-1.775-1.524-3.611-1.524-1.837 0-2.821.845-3.612 1.524-.714.613-1.23 1.056-2.4 1.056s-1.686-.443-2.4-1.056c-.791-.68-1.776-1.524-3.612-1.524s-2.82.845-3.612 1.524c-.714.613-1.23 1.056-2.4 1.056v2.58c1.836 0 2.82-.845 3.612-1.524.714-.613 1.23-1.056 2.4-1.056s1.686.443 2.4 1.056c.791.679 1.776 1.524 3.612 1.524s2.82-.845 3.612-1.524c.714-.613 1.23-1.056 2.4-1.056s1.685.443 2.4 1.056c.79.679 1.775 1.524 3.611 1.524zm0-7.741V2.72c-1.17 0-1.686-.442-2.4-1.055C20.857.985 19.872.14 18.036.14c-1.837 0-2.821.845-3.612 1.525-.714.613-1.23 1.056-2.4 1.056s-1.686-.443-2.4-1.056C8.833.985 7.848.14 6.012.14S3.192.985 2.4 1.665C1.686 2.278 1.17 2.72 0 2.72V5.3c1.836 0 2.82-.845 3.612-1.524.714-.613 1.23-1.056 2.4-1.056s1.686.443 2.4 1.056c.791.679 1.776 1.524 3.612 1.524s2.82-.845 3.612-1.524c.714-.613 1.23-1.056 2.4-1.056s1.685.443 2.4 1.056c.79.679 1.775 1.524 3.611 1.524zm0 15.481v-2.58c-1.17 0-1.686-.443-2.4-1.056-.79-.679-1.775-1.524-3.611-1.524-1.837 0-2.821.845-3.612 1.524-.714.613-1.23 1.056-2.4 1.056s-1.686-.443-2.4-1.056c-.791-.679-1.776-1.524-3.612-1.524s-2.82.845-3.612 1.524c-.714.613-1.23 1.056-2.4 1.056v2.58c1.836 0 2.82-.845 3.612-1.524.714-.613 1.23-1.056 2.4-1.056s1.686.443 2.4 1.056c.791.68 1.776 1.524 3.612 1.524s2.82-.845 3.612-1.524c.714-.613 1.23-1.056 2.4-1.056s1.685.443 2.4 1.056c.79.68 1.775 1.524 3.611 1.524z" fill="#005C9D"/></svg>
                            else
                                <svg width="18" height="27" viewBox="0 0 18 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.2501 0.782227H9.00012C9.00012 2.02223 8.61387 2.56925 8.07927 3.32625C7.48707 4.16487 6.75012 5.20854 6.75012 7.15485C6.75012 9.10124 7.48707 10.1449 8.07927 10.9835C8.61387 11.7407 9.00012 12.2876 9.00012 13.5277C9.00012 14.7679 8.61387 15.3149 8.07927 16.072C7.48707 16.9106 6.75012 17.9544 6.75012 19.9009C6.75012 21.8472 7.48707 22.891 8.07927 23.7296C8.61387 24.4867 9.00012 25.0338 9.00012 26.2739H11.2501C11.2501 24.3275 10.5132 23.2838 9.92097 22.4451C9.38637 21.688 9.00012 21.1409 9.00012 19.9009C9.00012 18.6608 9.38637 18.1137 9.92097 17.3565C10.5132 16.5178 11.2501 15.4741 11.2501 13.5277C11.2501 11.5814 10.5132 10.5376 9.92097 9.6991C9.38637 8.94196 9.00012 8.39493 9.00012 7.15485C9.00012 5.91485 9.38637 5.36783 9.92097 4.61083C10.5132 3.77221 11.2501 2.72854 11.2501 0.782227Z" fill="#FFC28A"/>
                                <path d="M4.5 0.782227H2.25C2.25 2.02223 1.86375 2.56925 1.32915 3.32625C0.73695 4.16487 0 5.20854 0 7.15485C0 9.10124 0.73695 10.1449 1.32915 10.9835C1.86375 11.7407 2.25 12.2876 2.25 13.5277C2.25 14.7679 1.86375 15.3149 1.32915 16.072C0.73695 16.9106 0 17.9544 0 19.9009C0 21.8472 0.73695 22.891 1.32915 23.7296C1.86375 24.4867 2.25 25.0338 2.25 26.2739H4.5C4.5 24.3275 3.76305 23.2838 3.17085 22.4451C2.63625 21.688 2.25 21.1409 2.25 19.9009C2.25 18.6608 2.63625 18.1137 3.17085 17.3565C3.76305 16.5178 4.5 15.4741 4.5 13.5277C4.5 11.5814 3.76305 10.5376 3.17085 9.6991C2.63625 8.94196 2.25 8.39493 2.25 7.15485C2.25 5.91485 2.63625 5.36783 3.17085 4.61083C3.76305 3.77221 4.5 2.72854 4.5 0.782227Z" fill="#FFC28A"/>
                                <path d="M18.0002 0.782227H15.7502C15.7502 2.02223 15.3639 2.56925 14.8293 3.32625C14.2371 4.16487 13.5002 5.20854 13.5002 7.15485C13.5002 9.10124 14.2371 10.1449 14.8293 10.9835C15.3639 11.7407 15.7502 12.2876 15.7502 13.5277C15.7502 14.7679 15.3639 15.3149 14.8293 16.072C14.2371 16.9106 13.5002 17.9544 13.5002 19.9009C13.5002 21.8472 14.2371 22.891 14.8293 23.7296C15.3639 24.4867 15.7502 25.0338 15.7502 26.2739H18.0002C18.0002 24.3275 17.2632 23.2838 16.671 22.4451C16.1364 21.688 15.7502 21.1409 15.7502 19.9009C15.7502 18.6608 16.1364 18.1137 16.671 17.3565C17.2632 16.5178 18.0002 15.4741 18.0002 13.5277C18.0002 11.5814 17.2632 10.5376 16.671 9.6991C16.1364 8.94196 15.7502 8.39493 15.7502 7.15485C15.7502 5.91485 16.1364 5.36783 16.671 4.61083C17.2632 3.77221 18.0002 2.72854 18.0002 0.782227Z" fill="#FFC28A"/>
                                </svg>
                        p=service.name