section#vendors
    .container
        .title
            h2 Поставщики
        .vendors-wrap
            .slick.slick-vendors
                .item.vendor
                    img(src="img/vendors/бакси.png")
                .item.vendor
                    img(src="img/vendors/грундфос.png")
                .item.vendor
                    img(src="img/vendors/даб.png")
                .item.vendor
                    img(src="img/vendors/про аква.jpg")
                .item.vendor
                    img(src="img/vendors/бакси.png")
                .item.vendor
                    img(src="img/vendors/бакси.png")
                .item.vendor
                    img(src="img/vendors/бакси.png")
