extends ../includes/layout
block variables
    - let page = "about"
block content
    - let crumbs = [{"href": "#", "title": "Главная"}, {"href": "#", "title": "О компании"}]
    //+breadcrumbs(crumbs

    section#pageAbout
        .container-fluid
            .row
                .col-12.col-lg-6.p-0
                    .about-img
                        img.img-fluid(src="img/about.jpg")
                .col-12.col-lg-5
                    .about-content.ml-0.ml-lg-5
                        .water-icon.mt-5
                            include ../../img/waves-icon.svg
                        .title.text-left.my-5
                            h2 О компании
                        .content
                            p Лишь сторонники тоталитаризма в науке своевременно верифицированы. Господа, дальнейшее развитие различных форм деятельности не оставляет шанса для инновационных методов управления процессами. Приятно, граждане, наблюдать, как интерактивные прототипы могут быть преданы социально-демократической анафеме.
                            p Прежде всего, базовый вектор развития, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для прогресса профессионального сообщества. Также как современная методология разработки создаёт предпосылки для распределения внутренних резервов и ресурсов. Предприниматели в сети интернет, превозмогая сложившуюся непростую экономическую ситуацию, подвергнуты целой серии независимых исследований.
                            h3 Второстепенный заголовок
                            p Имеется спорная точка зрения, гласящая примерно следующее: некоторые особенности внутренней политики ограничены исключительно образом мышления. Идейные соображения высшего порядка, а также существующая теория обеспечивает актуальность системы обучения кадров, соответствующей насущным потребностям.
                        .bottom.mt-5.d-flex.flex-wrap.justify-content-around
                            button.btn.mds-btn.mb-3 Наши услуги
                            button.btn.mds-btn.blue-btn.mb-3 Готовые проекты
                .offset-0.offset-lg-1

    include ../includes/about_facts
    include ../includes/vendors
    include ../includes/advantages
    include ../includes/partners