extends ../includes/layout
block variables
    - let page = "contacts"
block content
    - let crumbs = [{"href": "#", "title": "Главная"}, {"href": "#", "title": "О компании"}]
    //+breadcrumbs(crumbs

    section#pageContacts.mb-5
        .container-fluid
            .row
                .col-12.col-lg-6.p-0
                    .ymap-container.d-flex.align-items-center#ymapsContainer
                        .contacts.h-75.d-none.d-lg-flex
                            .address.mb-3
                                h3 Адрес
                                p г. Ижевск, ул. Ижевская, 123
                            .phone.mb-3
                                h3 Телефон
                                a(href="tel:+7 (800) 800-80-80") +7 (800) 800-80-80
                            .email.mb-3
                                h3 Email
                                a(href="mailto:login@gmail.com") login@gmail.com
                            .hours.mb-3
                                h3 Время работы
                                p ПН-ВС: 9:00-18:00 без выходных
                            .social
                                .instagram
                                    a(href="#") instagram
                                .twitter
                                    a(href="#") twitter
                                .whatsapp
                                    a(href="#") whatsapp
                .col-12.col-lg-4.p-0.ml-0.ml-lg-5.col-cost
                    .form-order-wrapper.pr-0
                        .form-scene
                            .form-complete
                                h2.text-white Успешно отправлено
                            .form-order.text-center.m-auto
                                .title.mt-3.mt-lg-0.mb-3.text-center
                                    h4 Оставьте заявку
                                p И получите файл с 5 этапами согласования нового объекта
                                form#contactsForm
                                    .form-group.m-4
                                        input.form-control(type="text" name="name" placeholder="Ваше имя")
                                        .small.text-danger#callbackNameHelp
                                    .form-group.m-4
                                        input.form-control(type="phone" name="phone" placeholder="Номер телефона")
                                        .small.text-danger#callbackPhoneHelp
                                    .form-group.m-4
                                        input.form-control(type="email" name="email" placeholder="Email")
                                        .small.text-danger#callbackEmailHelp
                                    .form-group.m-4
                                        .g-recaptcha(data-sitekey="6Ldic78UAAAAAL_bVb4uT9Nmwv9PD8vsC55L1sRS")
                                    .form-group.m-4
                                        p.small.text-justify Нажимая на кнопку, вы даете свое согласие на обработку персональных данных. <a href="">Узнать больше</a>
                                    button.btn.mds-btn.mx-4(type="submit" name="btnSubmit")#callbackSubmit Получить файл
                .offset-0.offset-lg-2
