extends ../includes/layout
block variables
    - let page = "feedback"
block content
    - let crumbs = [{"href": "#", "title": "Главная"}, {"href": "#", "title": "О компании"}]
    //+breadcrumbs(crumbs

    section#pageFeedback.mb-5
        .container
            .title
                h2 Отзывы
            .feedback-wrap
                - let ff = 0
                while ff < 10
                    .card.feedback-card.d-flex.flex-column.flex-lg-row.align-items-center
                        .card-body
                            .fdb-icon.ml-0.mb-3
                                include ../../img/waves-icon.svg
                            .fdb-content
                                h4 Монтаж водопровода
                                p Граница обучения кадров создает необходимость включения в производственный план целового ряда внеочередных мероприятий с учетом
                        .fdb-img
                            img(src="img/Group-4.jpg")
                    - ff ++
            include ../includes/pagination