include ../includes/mixins

doctype html

html(lang="ru")
    include ../includes/head
    body
    .container.mt-5
        ul.index-ul.d-flex.flex-column.flex-wrap
            +page("main.html", "Главная")
            +page("about.html", "О компании")
            +page("services.html", "Услуги")
            +page("service.html", "Услуга")
            +page("projects.html", "Готовые проекты")
            +page("feedback.html", "Отзывы")
            +page("info.html", "Новости/Статьи")
            +page("info-detail.html", "Новости/Статьи детально")
            +page("contacts.html", "Контакты")
