extends ../includes/layout

block content
    include ../includes/carousel
    include ../includes/services
    include ../includes/service-cards
    include ../includes/advantages
    include ../includes/vendors
    include ../includes/projects
    include ../includes/partners
    include ../includes/map