extends ../includes/layout
block variables
    - let page = "services"
block content
    - let crumbs = [{"href": "#", "title": "Главная"}, {"href": "#", "title": "О компании"}]
    //+breadcrumbs(crumbs

    section#pageServices.mb-5
        .container
            .title
                h2 Услуги
            .services-wrap
                - let s = 0
                while s < 10
                    .card.service-card.d-flex.flex-column.flex-lg-row.align-items-center
                        .svc-img
                            img(src="img/Group-4.jpg")
                        .card-body
                            .svc-icon
                                include ../../img/water-icon.svg
                            .svc-content
                                h4 Монтаж водопровода
                                p Граница обучения кадров создает необходимость включения в производственный план целового ряда внеочередных мероприятий с учетом
                        .card-footer
                            a(href="#") Подробнее <i class="fas fa-chevron-down"></i>
                    - s++


    include ../includes/service-cards

    section#pageServicesContent.mb-5.text-justify
        .container
            .title.text-left.my-5
                h3 Заголовок
            .content
                p Являясь всего лишь частью общей картины, интерактивные прототипы могут быть рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Есть над чем задуматься: представители современных социальных резервов и по сей день остаются уделом либералов, которые жаждут быть заблокированы в рамках своих собственных рациональных
                p В своём стремлении улучшить пользовательский опыт мы упускаем, что некоторые особенности внутренней политики и по сей день остаются уделом либералов, которые жаждут быть объективно рассмотрены соответствующими инстанциями. Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: перспективное планирование выявляет срочную потребность соответствующих условий активизации.